%h2 The application
  %a{ href: "#{h oauth.client.link}" } #{h oauth.client.display_name }
  is requesting to #{h oauth.scope.to_sentence} your account.

  %form{ action: "/oauth/grant" }
    %button Grant
    %input{ type: "hidden", name: "authorization", value: "#{ oauth.authorization}" }

  %form{ action: "/oauth/deny"}
    %button Deny
    %input{ type: "hidden", name="authorization", value: "#{oauth.authorization}"}
